<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzq.contentService.mapper.TeachplanMapper">

    <resultMap id="BaseResultMap" type="com.xzq.content.model.entity.Teachplan">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="pname" column="pname" jdbcType="VARCHAR"/>
            <result property="parentid" column="parentid" jdbcType="BIGINT"/>
            <result property="grade" column="grade" jdbcType="SMALLINT"/>
            <result property="mediaType" column="media_type" jdbcType="VARCHAR"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="timelength" column="timelength" jdbcType="VARCHAR"/>
            <result property="orderby" column="orderby" jdbcType="INTEGER"/>
            <result property="courseId" column="course_id" jdbcType="BIGINT"/>
            <result property="coursePubId" column="course_pub_id" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="isPreview" column="is_preview" jdbcType="CHAR"/>
            <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
            <result property="changeDate" column="change_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,pname,parentid,
        grade,media_type,start_time,
        end_time,description,timelength,
        orderby,course_id,course_pub_id,
        status,is_preview,create_date,
        change_date
    </sql>
    <resultMap id="treeNodeResultMap" type="com.xzq.content.model.dto.TeachplanDto">
        <!--一级映射-->
        <id property="id" column="one_id" jdbcType="BIGINT"/>
        <result property="pname" column="one_pname" jdbcType="VARCHAR"/>
        <result property="parentid" column="one_parentid" jdbcType="BIGINT"/>
        <result property="grade" column="one_grade" jdbcType="SMALLINT"/>
        <result property="mediaType" column="one_mediaType" jdbcType="VARCHAR"/>
        <result property="startTime" column="one_startTime" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="one_endTime" jdbcType="TIMESTAMP"/>
        <result property="orderby" column="one_orderby" jdbcType="INTEGER"/>
        <result property="courseId" column="one_courseId" jdbcType="BIGINT"/>
        <result property="coursePubId" column="one_coursePubId" jdbcType="BIGINT"/>
        <!--一级中包含多个二级数据-->
        <collection property="teachPlanTreeNodes" ofType="com.xzq.content.model.dto.TeachplanDto">
            <id property="id" column="two_id" jdbcType="BIGINT"/>
            <result property="pname" column="two_pname" jdbcType="VARCHAR"/>
            <result property="parentid" column="two_parentid" jdbcType="BIGINT"/>
            <result property="grade" column="two_grade" jdbcType="SMALLINT"/>
            <result property="mediaType" column="two_mediaType" jdbcType="VARCHAR"/>
            <result property="startTime" column="two_startTime" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="two_endTime" jdbcType="TIMESTAMP"/>
            <result property="orderby" column="two_orderby" jdbcType="INTEGER"/>
            <result property="courseId" column="two_courseId" jdbcType="BIGINT"/>
            <result property="coursePubId" column="two_coursePubId" jdbcType="BIGINT"/>
            <association property="teachplanMedia" javaType="com.xzq.content.model.entity.TeachplanMedia">
                <id column="teachplanMeidaId"   property="id" />
                <result column="mediaFilename"   property="mediaFilename" />
                <result column="mediaId"   property="mediaId" />
                <result column="two_id"   property="teachplanId" />
                <result column="two_courseId"   property="courseId" />
                <result column="two_coursePubId"   property="coursePubId" />
            </association>
        </collection>
    </resultMap>
    <!--课程计划树型结构查询-->
    <select id="selectTreeNodes" resultMap="treeNodeResultMap" parameterType="long">
        select 	one.id            one_id,
                  one.pname         one_pname,
                  one.parentid      one_parentid,
                  one.grade         one_grade,
                  one.media_type    one_mediaType,
                  one.start_time    one_startTime,
                  one.end_time      one_endTime,
                  one.orderby       one_orderby,
                  one.course_id     one_courseId,
                  one.course_pub_id one_coursePubId,

                  two.id            two_id,
                  two.pname         two_pname,
                  two.parentid      two_parentid,
                  two.grade         two_grade,
                  two.media_type    two_mediaType,
                  two.start_time    two_stratTime,
                  two.end_time      two_endTime,
                  two.orderby       two_orderby,
                  two.course_id     two_courseId,
                  two.course_pub_id two_coursePubId,

                  m.id teachplanMediaId,
                  m.media_id mediaId,
                  m.teachplan_id teachplanId,
                  m.media_fileName mediaFileName
        from teachplan one
                 LEFT JOIN teachplan two on two.parentid = one.id
                 LEFT JOIN teachplan_media m on m.teachplan_id = two.id
        where one.parentid = 0
          and one.course_id = #{value}
        order by one.orderby,
                 two.orderby
    </select>
</mapper>
